@import "../../styles/variables.scss";

.calender-wrapper {
	border: 1px solid #537bc3;
	border-radius: 25px;
	padding: 25px;
}

.calender-btn-wrapper {
	margin: 5px;
}
.accordion-button{
	padding: 5px;
}

.accordion-body{
	padding-top: 2px;
}